services:
  web:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      - .:/app
    command: python app.py

  mongo:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data: