services:
  web:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      - .:/app
    command: python app.py

  mongo:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: bancoadmin
      MONGO_INITDB_ROOT_PASSWORD: Coxinha123
      MONGO_INITDB_DATABASE: banco_database
    volumes:
      - mongo-data:/data/db
    restart: always
    ports:
      - "27017:27017"

volumes:
  mongo-data: