<!DOCTYPE html>
<html>
    <head lang="pt-br">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
        <style>
            html {
                font-family: "Pixelify Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
            }
        </style>
    </head>
    <body class="bg-[#1e1e1e]">
        {% block body %}{% endblock %}
    </body>
</html>